
.bestbutton{
    position: relative;
    background: #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

.bestbutton:hover{
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
    cursor: crosshair;
}

.bestbutton:before{
    content:'';
    position: absolute;
    inset: 2px;
    background: #004b23;
}

.bestbutton span{
    position: relative;
    z-index: 1;
}

.bestbutton i{
    position: absolute;
    inset: 0;
    display: block;
}

.bestbutton i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: green;
    transform: translateX(-50%) skew(325deg);
    transition: 0.5s;
}

.bestbutton:hover i::before{
    width : 20px;
    left: 20%;
}

.bestbutton i::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #52b788;
    transform: translateX(-50%) skew(325deg);
    transition: 0.5s;
}
