.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  display: flex; 
  justify-content: center; 
}

.mainnav ul li {
  margin: 0 24px;
  font-size: 1em;
}

@media screen and (max-width: 500px) {
  .mainnav ul {
    flex-direction: column;
  }

  .mainnav ul li {
    padding: 10px; 
  }
}
